/* 폰트설정하기 */
body { font-family: '맑은 고딕', 'Malgun Gothic', '돋움', 'dotum', Arial , 'Apple SD Gothic Neo', sans-serif; font-size: 16px; line-height: 1.9; font-weight: 500; color: #808080; } 

/* 초기화 */
body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,fieldset { margin: 0; padding: 0; } 
ul,ol,li { list-style: none; } 
img { vertical-align: middle; } 
a { text-decoration: none; color: inherit; } 
fieldset { border: 0; } 
legend { display: block; width: 0; height: 0; overflow: hidden; text-indent: -9999px; } 
button { border: 0; cursor: pointer; } 


/* =====================================================
공통
===================================================== */
.headArea,.footArea,.inner { width: 1168px; margin: 0 auto; } 
.headArea::after,.footArea::after { content:""; display: block; clear: both; } 

/* =====================================================
헤더
===================================================== */
.header { position: fixed; left: 0; top: 0; width: 100%; background-color: white; z-index: 9999; } 
.header.open { height: 480px; } 
.header.open::before { content: ""; position: absolute;; left: 0; top: 80px; width: 100%; height: 1px; background: lightgray; } 
.header .hLogo { float: left; padding-top: 18px; } 
.header .hLogo img { height: 45px; } 

.header .hMenu { float: left; margin-left:130px; } 
.header .hMenu .depth1::after { content:""; display: block; clear: both; } 
.header .hMenu .depth1 > li { float: left; position: relative; } 
.header .hMenu .depth1 > li > .dth1 { position: relative; display: block; line-height: 80px; padding: 0 10px; font-size: 20px; font-weight: 600; color: #292929; margin-right: 85px; } 
.header .hMenu .depth1 > li:hover > .dth1::after { content: ""; position: absolute; left: 0; bottom: -3px; z-index: 2; width: 100%; height: 3px; background-color: #f5bd43; } 
.header .hMenu .depth1 > li:last-child > .dth1 { margin-right: 0; } 

.header .hMenu .depth2 { position: absolute; left: 50%; top: 80px; width: 100%; transform: translateX(-50%); display: none; } 
.header.open .hMenu .depth2 { display: block; } 
.header .hMenu .depth2 > li { margin-top: 15px; } 
.header .hMenu .depth2 > li > .dth2 { display: inline-block; line-height: 1.6; border-bottom: 1px solid transparent; white-space: nowrap; } 
.header .hMenu .depth2 > li:hover > .dth2 { border-bottom: 1px solid #000; color: #000; } 

.header .util { float: right; margin-top: 20px; font-size: 0; } 
.header .util .renter { background-color: #db0007; display: inline-block; width: 80px; line-height: 34px; text-align: center; border-radius: 48px; font-size: 13px; font-weight: 600; color: #fff; } 
.header .util .recruit { margin-left: 8px; background-color: #d87200; display: inline-block; width: 80px; line-height: 34px; text-align: center; border-radius: 48px; font-size: 13px; font-weight: 600; color: #fff; } 
.header .util .lang { margin-left: 8px; background-color: #264a36; display: inline-block; width: 80px; line-height: 34px; text-align: center; border-radius: 48px; font-size: 13px; font-weight: 600; color: #fff; } 
.header .util .topSearch { display: inline-block; } 
.header .util .topSearch .srch { width: 36px; height: 36px; margin-left: 26px; text-indent: -9999px; background: url(../images/ico_search.png) no-repeat; } 
.topSearch .srchField { position: fixed; width: 1168px; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 9999; text-align: center; display: none; } 
.topSearch .srchField .sch input[type="text"] { width: 984px; height: 70px; border-radius: 35px; padding: 0 38px; border: 1px solid #d1d1d1; font-size: 18px; color: #292929; box-sizing: border-box;} 
.topSearch.open .srchField { display: block; } 
.topSearch .srchField .sch .btnM { width: 172px; height: 70px; border-radius: 35px; margin-left: 12px; font-size: 15px; } 
.topSearch .srchField .sch .btnMC { background-color: #ffbc0d; color: #292929; font-weight: 600; } 
.topSearch .srchField .close { width: 90px; height: 90px; text-indent: -9999px; background: url(../images/btn_close.png) no-repeat 0 0; margin-top: 100px; } 
.topSearch .dimmed { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); display: none; } 
.topSearch.open .dimmed { display: block; } 


/* =====================================================
메인 슬라이드
===================================================== */
.mainSlide { margin-top: 80px; max-width: 1900px;} 
.mainSlide .swiper-button-prev { width: 90px;height: 90px;left: 0;background: url(../images/bg_swiper_new.png)no-repeat 0 0; } 
.mainSlide .swiper-button-next { width: 90px;height: 90px;right: 0;background: url(../images/bg_swiper_new.png)no-repeat 0 -90px; } 
.mainSlide .swiper-button-prev::after { display: none; } 
.mainSlide .swiper-button-next::after { display: none; } 
.mainSlide .swiper-button-next.swiper-button-disabled, 
.mainSlide .swiper-button-prev.swiper-button-disabled {opacity: 0.2;cursor: auto;pointer-events: visible;}

.mainSlide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 6px;}
.mainSlide .swiper-pagination-bullet{width: 25px;height: 12px;border-radius: 6px;}
.mainSlide .swiper-pagination-bullet-active{background-color: black;}


/* =====================================================
맥도날드 라이브 영역
===================================================== */
.contArea { padding: 30px 0 60px; }
.mainCont .titMain { margin-bottom: 60px; font-size: 40px; font-weight: 600; line-height: 1; color: #292929; } 
.mainCont .whatsNew { margin-left: -35px; } 
.mainCont .whatsNew::after { content: ""; display: block; clear: both; } 
.mainCont .whatsNew li { height: 438px; float: left; margin: 0 0 35px 35px; } 
.mainCont .whatsNew li a { display: block; height: 100%; border-radius: 10px; overflow: hidden; background-color: #fff; box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1); } 
.mainCont .whatsNew li a .con { padding: 24px 30px; } 
.mainCont .whatsNew li a .con .tit { display: block; width: 306px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 18px; line-height: 1.7; font-weight: 500; color: #292929; } 


/* =====================================================
푸터영역
===================================================== */
.footer { font-size: 14px; line-height: 1.6; background-color: #292929; color: #fff; } 
.footer .footArea { padding: 45px 0 55px; } 
.footer .fUtil { float: left; width: 190px; } 
.footer .fUtil .privacy { color: #ffff00; } 
.footer .fUtil li + li { margin-top: 5px; } 
.footer .fSns { float: right; } 
.footer .fSns li { float: left; } 
.footer .fSns li + li { margin-left: 20px; } 
.footer .fSns li a { display: block; width: 40px; height: 40px; } 
.footer .fSns li a span { display: block; text-indent: -9999px; } 
.footer .fSns li .fb { background: url(../images/ico_sns.png) no-repeat 0 0; } 
.footer .fSns li .ig { background: url(../images/ico_sns.png) no-repeat 0 -40px; } 
.footer .fSns li .yt { background: url(../images/ico_sns.png) no-repeat 0 -80px; } 
.footer .fSns li .ks { background: url(../images/ico_sns.png) no-repeat 0 -120px; } 
.footer .fSns li .web { width: 100px; } 
.footer .fSns li .web img { width: 100%; } 
.footer .fInfo { float: left; font-weight: 400; opacity: 0.6; } 
.footer .fInfo .info li + li { margin-top: 5px; } 
.footer .fInfo .copy { margin-top: 5px; } 


/* =====================================================
고정 aside 영역
===================================================== */
.aside{position: fixed;bottom: 110px;left: 50%;transform: translateX(-50%);z-index: 10;margin-left: 660px;text-align: center;opacity: 0;}
.aside a{display: block;width: 121px;height: 121px;margin-bottom: 20px;text-indent: -9999px;}
.aside .goStory{background: url(../images/btn_story_04.png) no-repeat center top;}
.aside .goDelivery{background: url(../images/btn_delivery_04.png) no-repeat center top;}
.aside .btnTop{width: 51px;height: 48px;background: url(../images/btn_top_04.png)no-repeat center top;text-indent: -9999px;}